{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ static('css/catalog/catalog.css') }}">
{% endblock %}
{% block main %}
    <nav>

        <div class="nav-items">

            <div class="burger-menu">
                <div class="burger">

                    <svg>
                        <rect></rect>
                    </svg>
                    <svg>
                        <rect></rect>
                    </svg>
                    <svg>
                        <rect></rect>
                    </svg>
                </div>
            </div>
            <div class="nav-links">
                <a href="#" class="nav-item">Dashboard</a>
                <a href="#" class="nav-item">Purchases</a>
                <a href="#" class="nav-item">Orders</a>
                {#                <a href="{{ url('catalog:dashboard') }}" class="nav-item">Dashboard</a>#}
                {#                <a href="{{ url('users:purchases') }}" class="nav-item">Purchases</a>#}
                {#                <a href="{{ url('users:orders') }}" class="nav-item">Orders</a>#}
            </div>
            <div class="cart">

            </div>
            <div class="search-wrapper">
                <label class="search-bar">
                    <input type="search" placeholder="search..." id="search">

                </label>
                <div class="search-logo">
                    <img src="{{ static('img/catalog/search-logo.png') }}" alt="">
                </div>
            </div>


            <div class="user-profile-logo">
                <img src="{{ static('img/catalog/user-profile-photo.jpeg') }}" alt="" class="user-profile-img">

            </div>
        </div>
    {% if user.is_authenticated %}
        <p>Я авторизован</p>
        {% else %}
        <p>Я новичок</p>
    {%  endif%}
    </nav>
    <main>
        <img src="{{ static('img/catalog/left.png') }}" alt="" id="left">
        <img src="{{ static('img/catalog/up.png') }}" alt="" id="up">
        <img src="{{ static('img/catalog/right.png') }}" alt="" id="right">
        <img src="{{ static('img/catalog/bottom.png') }}" alt="" id="down">
        <div class="shoes">
            <span class="image-text">JUST DO IT !</span>
            <img src="{{ static('img/catalog/shoes.png') }}" alt="">
        </div>
    </main>

    <footer>


        <div class="stores-upper">
            <div class="stores-title">
                Top Stores
            </div>
            <div class="stores-filters">
                <img src="{{ static('img/catalog/filter.png') }}" alt="">
            </div>
        </div>
        <div class="shops-wrapper">
            {% for shop in shops %}
                <a href="{{ url('market:shop',args=[shop.address]) }}" class="shop-preview">
                    <img src="{{ shop.preview.url }}" alt="{{ shop.name }}">
                    <div class="shop-title">
                        {{ shop.name }}
                    </div>
                </a>
            {% endfor %}

        </div>
    </footer>



{% endblock %}