{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ static('css/shops/shop.css') }}">
{% endblock %}


<body>
{% block main %}
    <nav>
        <button class="back-button">
            <a href="/">
            <span class="button-text">
                back
            </span>
            </a>
        </button>

        <button class="user-cart" id="openCartBtn">
            <img src="{{ static("img/cart.png") }}" alt="" class="cart-image">
            <span class="counter" style="display: none;">
            0
        </span>
        </button>
        {#        <div class="cart-preview">#}
        {##}
        {##}
        {#        </div>#}

    </nav>
    <main>
        <div class="shop-header">
            <div class="left-header">

                <div class="rating-block">
                    <div class="rating">
                        {{ shop.review.rating }}
                    </div>
                    <img src="{{ static('img/rating-star.png') }}" alt="">
                </div>

                <div class="shop-avatar">
                    <img src="..{{ shop.preview.url }}" alt="">
                </div>
            </div>
            <div class="right-header">

                <div class="shop-name">
                    {{ shop.name }}
                </div>
                <div class="shop-description">
                    {{ shop.description }}

                </div>
            </div>

        </div>


        <div class="shop-stat">
            <div class="shop-vector-stat">

                <div class="worth-it">
                    <div class="stat-wrapper">

                        <img src="../../static/img/rating-ring.png" alt="">
                        <div class="stat-text">
                            Worth It
                        </div>
                    </div>

                </div>
                <div class="accuracy">
                    <div class="stat-wrapper">

                        <img src="../../static/img/rating-ring.png" alt="">
                        <div class="stat-text">
                            Accuracy
                        </div>
                    </div>
                </div>
                <div class="delivery">
                    <div class="stat-wrapper">

                        <img src="../../static/img/rating-ring.png" alt="">
                        <div class="stat-text">
                            Delivery
                        </div>
                    </div>
                </div>
            </div>

            <div class="number-stat">
                <div class="stat">
                    <span>{{ shop.orders_complete }}</span>
                    <div class="stat-text">
                        Orders Completed
                    </div>
                </div>
                <div class="stat">
                    <span>{{ shop_items|length }}</span>
                    <div class="stat-text">
                        Products
                    </div>
                </div>
                <div class="stat">
                    <span>{{ shop.review.reviews_count }}</span>
                    <div class="stat-text">
                        Reviews
                    </div>
                </div>
                <div class="stat under-stat">
                    <img src="../../static/img/views.png" alt="" class="view">
                    <span>{{ shop.views_count|intword }}</span>

                </div>

            </div>
        </div>
    </main>
    <footer>
        <div class="shop-items">

            {% for shop_product in shop_items %}

                <div class="item">
                    <a href="{{ shop_product.id }}">
                        <img src="{{ shop_product.preview }}" alt="">
                    </a>
                    <div class="price">{{ shop_product.price }}</div>
                    <div class="cart-buttons">
                        <button class="add-product">
                            add
                        </button>
                        <button class="remove-product" style="display: none">
                            -
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>

    </footer>

    <script src="{{ static("js/open-cart.js") }}"></script>
    <script src="{{ static("js/load_cart.js") }}"></script>
    <script src="{{ static("js/add-to-cart-buttons.js") }}"></script>


    </body>
{% endblock %}
