<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/default.css">
    <link rel="stylesheet" href="../../static/css/cart/cart_preview.css">
</head>
<body>
<div class="cart_preview">

    <ul class="cart_items">
        <li class="product">
            <img src="https://basket-15.wbbasket.ru/vol2307/part230754/230754593/images/c516x688/1.webp" alt=""
                 class="product_img">

            <div class="product_name">laptop acer very good really penis sosite</div>
            <div class="product_price">150000</div>
        </li>
        <hr>

        <li class="product">
            <img src="https://basket-15.wbbasket.ru/vol2307/part230754/230754593/images/c516x688/1.webp" alt=""
                 class="product_img">

            <div class="product_name">laptop acer very good really penis sosite</div>
            <div class="product_price">150000</div>
        </li>
        <hr>

        <li class="product">
            <img src="https://basket-15.wbbasket.ru/vol2307/part230754/230754593/images/c516x688/1.webp" alt=""
                 class="product_img">

            <div class="product_name">laptop acer very good really penis sosite</div>
            <div class="product_price">150000</div>
        </li>

    </ul>
    <div class="submit-wrapper">
        {% if user.is_authorized %}
            <input class="open_order" type="submit" src="{{ url("orders:create_order") }}" value="Go to order page">
        {% else %}
            <input class="create_profile" type="button" src="{{ url("users:register") }}"
                   value="Create profile or login">
        {% endif %}
    </div>
</div>

<script src="../../static/js/cart/cart_preview.js"></script>
</body>
</html>