<meta charset="UTF-8">
<link rel="stylesheet" href="{{ static('/css/default.css') }}">
<link rel="stylesheet" href="{{ static('/css/cart.css') }}">
<link rel="stylesheet" href="{{ static('/css/cart/cart_preview.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap" rel="stylesheet">
<link rel="icon" href="{{ static('img/logo.png') }}" type="image/icon type">