<!DOCTYPE html>
<html lang="en">
<head>

    {% include('includes/header.html') %}

    {% block head %}
    {% endblock %}

    <title>{{ title|capitalize }}</title>

</head>
<body data-user-authenticated="{{ user.is_authenticated }}" data-create-order-src="{{ url("orders:create_order") }}"
      data-login-url="{{ url("users:register") }}">

{% block main %}

{% endblock %}
<script src="{{ static("js/cart/open-cart.js") }}"></script>
<script src="{{ static("js/cart/load_cart.js") }}"></script>
<script src="{{ static("js/cart/add-to-cart-buttons.js") }}"></script>
<script src="{{ static("js/cart/cart_preview.js") }}"></script>
<script src="{{ static("js/cart/backend_requests.js") }}"></script>
<script>
    const CSRF_TOKEN = '{{  csrf_token }}';
    const HomeUrl = '{{ url('market:index') }}';
</script>
</body>
</html>