<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/orders.css">
    <link rel="stylesheet" href="../../static/css/navigation.css">
    <link rel="stylesheet" href="../../static/css/orders.css">
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap" rel="stylesheet">

</head>
<body>
<nav>
    <!-- {% include("includes/back_button.html") %} -->
    <a href="#">
        <button class="back-button">
            <span class="button-text">
                back
            </span>
        </button>
    </a>
</nav>
<form method="post" action="#">
    <div class="form-group row my-3">
        <label for="" class="form-label">
            <span class="label-text">
                Name
            </span>

            <input type="text" id="name" name="name" class="form-input">

        </label>

    </div>

    <div class="form-group row my-3">
        <label for="" class="form-label">
            <span class="label-text">
                Address
            </span>

            <input type="text" id="name" name="name" class="form-input">

        </label>

    </div>

    <div class="form-group row my-3">
        <label for="" class="form-label">
            <span class="label-text">
                Country
            </span>

            <input type="text" id="name" name="name" class="form-input">

        </label>
    </div>
</form>

<div class="user-cart">
    <div class="product-column left-column">
        <div class="product-name">CEO</div>
        <div class="product-name">Delivery Fees</div>
        <div class="product-name">GST</div>
    </div>

    <div class="product-column">

        <div class="product-cost">
            32000
        </div>

        <div class="product-cost">
            32000
        </div>

        <div class="product-cost">
            32000
        </div>
        <div class="total-cost">
            Total <span class="cost">35000</span>
        </div>
    </div>

</div>
<div class="flex-button-wrapper">
    <button type="submit" class="pay-button" value="Pay">
        Pay
    </button>
</div>

</body>
</html>